body {
    background-image: url(http://subtlepatterns.com/patterns/grey.png);
    background-position: initial initial;
    background-repeat: initial initial;

    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Dosis', serif;
}

h1 {
    font-weight: 400;
    line-height: 1.15;
    font-size: 2.5em;
    margin: 0 0 0.575em 0;
}

h2 {
    font-weight: 800;
    font-size: 1.125em;
    line-height: 1.27;
    margin: 0 0 0.575em 0;
}

h3 {
    font-size: 1.4em;
    line-height: 1.27;
}

ul {
    margin-bottom: 0;
}

a[target=_blank]:after {
    content: "\f045";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgray;
    font-size: 0.8em;
    padding-left: 0.5em;
    position: relative;
    bottom: 0.5em;
}

[class*="column"] + [class*="column"]:last-child {
    float: left;
}

/* -------------------------------------
    DownloadLink
------------------------------------- */
.downloadLinks .downloadPDF,
.downloadLinks .seeGithub,
.downloadLinks .seeTwitter
{
    padding: 0.5em 1em;
    display: inline-block;
    color: white;
    position: relative;
    right: -1.04em;
    margin-bottom: 2em;
}

.downloadLinks .downloadPDF:after,
.downloadLinks .seeGithub:after,
.downloadLinks .seeTwitter:after
{
    content: none;
}

.downloadLinks .downloadPDF {
    background-color: rgba(255,0,0,0.5);
}
.downloadLinks .downloadPDF:hover {
    background-color: rgba(255,0,0,0.6);
}

.downloadLinks .seeGithub {
    background-color: rgba(0,0,0,0.5);
}
.downloadLinks .seeGithub:hover {
    background-color: rgba(0,0,0,0.6);
}

.downloadLinks .seeTwitter {
    background-color: rgba(85,172,238,0.5);
}
.downloadLinks .seeTwitter:hover {
    background-color: rgba(85,172,238,0.6);
}

/* -------------------------------------
    HEADER
------------------------------------- */
header {
    margin-bottom: 3em !important;
}
header h1 {
    font-size: 3em;
    margin: 0;
    margin: 0.2em 0 0.3em 0;
}
header h2 {
    font-size: 1.5em;
    margin: 0;
}

/* -------------------------------------
    EXPERIENCE
------------------------------------- */
.exp {
    margin-left: 2em;
    margin-bottom: 3em;
}
.exp h1 {
    font-size: 2em;
    margin: 0;
}
.exp h2 {
    font-size: 1.em;
    font-weight: 800;
    margin: 0;
    padding-top: 0.4em;
}
.exp hgroup {
    margin-bottom: 1em !important;
}
.exp ul li{
  float: left;
  width: 40%;
}

/* -------------------------------------
    WORK
------------------------------------- */
.works h2 {
    font-size: 1.6em;
    font-weight: 600;
}
.works a, .works a:visited {
    color: gray;
}
.works a:hover {
    text-decoration: underline;
}
.works a.mainLink {
    font-size: 0.95em;
}
.works p{
    margin-top: 0.3em;
}
.works img {
    border: 1px gray solid;
    width: 100%;
}
.works .mention {
    color: gray;
    font-size: 0.95em;
}

/* -------------------------------------
    EDUCATION
------------------------------------- */
.edu {
    margin-left: 2em;
    margin-bottom: 3em;
}
.edu h1 {
    font-size: 2em;
    margin: 0;
}
.edu h2 {
    font-size: 1.em;
    font-weight: 800;
    margin: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.edu hgroup {
    margin-bottom: 0em !important;
}
.edu hgroup a{
    margin-left: 1em !important;
    position: relative;
    top: -0.5em;
}
.edu ul.row{
  margin-left: 1.1em;
}

/* -------------------------------------
    SKILLS
------------------------------------- */
.skills ul{
    list-style-type: none;
}
.skills .tags {
    margin-left: 2em;
    margin-bottom: 0.5em;
}
.skills canvas {
    /*padding-right:1em;*/
}
.skills .canvasWrapper {
    padding-right: 0;
    position: relative;
}

/* -------------------------------------
    MISC
------------------------------------- */
.mainWrapper {
    padding: 0 2em 2em 2em;
    position: relative;

    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

article {
    position: relative;
}

time {
    position: absolute;
    left: -5em;
    top: 2.5em;
    text-align: right;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-bt ;

    font-size: 0.95em;
}

.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}